*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

header{
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    display:flex;
    align-items: center;
    width: 139px;
    height: 60px;
    
}

nav ul{
    margin:34px 346px;
    margin:0px 346px;
    display: flex;
    list-style: none;
    gap:32px;

}

nav ul a{
    
    text-decoration: none;
    color: black;
    font-weight: 400;

}
nav ul a:hover{
    color:brown;
}
.btn{
    width:164px;
    height:44px;
    padding:12px 16px;
    color:white;
    background-color: #30B868;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
     color:Black;
    background-color: #F95555;
}
#section{
    width:1600px;
    height: 674px;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#section .hero-content{
    margin:115px 120px 180px 120px;
    max-width: 1360px;
}
#section .hero-title{
    display:inline-block;
    background: white;
    color:#30B868 ;
    padding:8px 12px 8px 12px;
    font-weight: 500;
    border-radius:1000px;
    font-size:16px ;
    margin-bottom:16px;
    justify-content: center;
    align-items: center;

}
.hero-title p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:6px;
}
#section .hero-content h1{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
    color: white;
}

.hero-content h1 span{
    color:#30B868;
}
.sectionpara {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 34px;
    text-align:center;
    margin-bottom:32px ;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}
.btn1{
    padding:12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
}
.btn1:hover{
    color: aqua;
    background-color: #627382;
}
.btn2{
     padding:12px 16px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border:1px solid white;
    color: #FFFFFF;
    border-radius: 4px;
    background: none;
}
.btn2:hover{
    color:#001931;
    background-color: darksalmon;
}

.section2{
    width:1360px;
    height:152px;
    text-align: center;
    margin:0px 120px;
    padding:80px 60px;
    line-height: 30px;
    /* margin-bottom:44px; */
}
.section2 h2{
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: bold;
}
.section2 p{
    font-size: 16px;
    color:#627382;
    margin-bottom:0 ;
}
.cardsvar{
    width:1360px;
    height:300px;
   margin:44px 120px 0 120px;
   padding: 0px;
    border:none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap:24px;
}
.cardno1{
    width:322px;
    height: 300px;
    background: #FFFFFF;
    margin:0;
    padding:24px;
    gap:24px;
    border:none;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-shadow:0px 0px 8px 0px #dce6ef;
}
.card-logo{
    width:60px;
    height:60px;
    background: #F95555;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:68px 121px 16px 121px;
    border:none;
    border-radius: 50%;
}
.cardno1 h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom:16px;
    text-align: center;
}
.cardno1 p{
    font-size:16px ;
    color:#627382;
    text-align: center;
}
.section3{
    width:1360px;
    height:600px;
    display: flex;
    gap:60px;
    align-items:center;
    margin:120px;
}
.section3 img{
    margin:0;
}
.section3-p{
    margin: 102px 0px 102px 60px;
    max-width: 700px;
    height: 396px;
}
.solution{
    color: #30B868;
    font-size: 16px;
}
.section3-p h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.para{
    font-size: 16px;
      color:#627382;
    margin-bottom: 40px;
} 


.list-items{
    text-align: left;
 
    list-style: none;
}
.list-items li{
    gap:6px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.btn3{
    width:194px;
    height:44px;
    padding:12px 16px;
    color:white;
    background-color: #30B868;
    border:none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;
}
.btn3:hover{
    color: aqua;
    background-color: #627382;
}
#section4{
    margin:0px 120px 120px 120px;
    padding: 80px 40px;
    width:1360px;
    height:384px;
    text-align: center;
    border:none;
    background:#F7F6F2;
    border-radius: 12px;
}

#section4 h2{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;

}
#section4 p{
    color:#627382;
    margin-bottom:24px;
}

#section4 button{
    margin:0px 543px 16px 543px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 10px 0px #8398a7;
    margin-bottom: 16px;
}

#section .sec-foot{
    color:#627382;
    text-align: center;
    font-size: 16px;
    margin-bottom: 80px;
}
footer{
    margin:0;
    padding:0;
    width: 1600px;
    height:348px;
    background-color: #001931;
    color:#FFFFFF;
    
}
.last1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:120px 120px 0px 120px; 
}
.last1-img{
    width: 140px;
    height:60px
}
.last2{
    width:1360px;
    height:54px;
    margin:0 120px;
    text-align: center;
    padding:0px;
    
}
.last2 p{
    font-size: 16px;
    margin-top: 30px;
}
.line{
    width:1360px;
    margin:80px 120px 0px 120px;
    opacity: 0.2;

}
.social-link{
    margin-right: 107px;
    padding:0px;
    gap:16px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    
}  
.footer-icon{
    margin-top: 16px;
    display: flex;
    gap:16px;
}

