*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

header{
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display:flex;
    align-items: center;
    width: 139px;
    height: 60px;
    padding: 16px 346px 16px 120px;
}
nav ul{
    width: 365px;
    height:24px;
    margin:16px 24px;
    display: flex;
    list-style: none;
    gap:32px;

}

nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 400;

}
.btn{
    width:164px;
    height:44px;
    padding:12px 16px;
    color:white;
    background-color: #30B868;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section{
    width:1600px;
    height: 674px;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#section .hero-content{
    margin:115px 120px 180px 120px;
}
#section .badge{
    display: inline-block;
    background: white;
    color:#30B868 ;
    padding:8px 12px;
    font-weight: 500;
    border-radius:1000px;
    font-size:16px ;
    margin-bottom: ;
}
